 .normal {
  text-align: center;
}
.wrap{
  width:100%;
  height:100%;
}
.title{
  width:100%;
  height:200px;
  background:#1891ff;
}
.span{
   width:100%;
   height:20px;
   display: inline-block;
   text-align: center;
   color:#fff;
   font-weight:100;
   padding-top:15px;
}
.Down {
   width:100%;
   height:180px;
   display: flex;
   padding:0 10px;
   box-sizing: border-box 
}
.left{
   width:50%;
   color:#fff;
}
.right{
   width:45%;
   color:#fff; 
}
.p,.pro{
   font-weight:100px;
}
.pro{
   text-align: right
}
.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

/* .welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
} */

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
