.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer{
    display: flex;
    align-items: center;
    height: 40px;
  }
  .footer a{
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
  }
  .active{
      color: blue;
  }